<!Doctype html>
{% extends "campus/base.html" %}

{%block body_block%}

 <html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script>
    $(document).ready(function(){
    $("#b1").click(function(){
        $(".rb").show();
        $(".rb").attr("disabled",true);


    });
    });


        function getanswers()
        {
        document.getElementById("UserAnswers").innerHTML = "";
        var e = document.getElementsByTagName("input");
            for(i = 0 ; i<=e.length;i++)
            {
                if(e[i].type=="radio")
                {
                    if(e[i].checked)
                    {
                        document.getElementById("UserAnswers").innerHTML+="Q "+e[i].name + " The Answers You Are Selected Is : "+e[i].value+"<br>";

                    }
                }
            }
        }
    </script>


</head>
<body>
<div class="container">
    <br><br><br>
    <h1 class= text-danger mt-3>Data Analyst Quiz</h1>
    <hr>
    <div>
        {% for i in  exam %}
        <table>
            <tr>
                <td class="text-primary">{{i.id}} ) {{i.Question2}} ?</td>
            </tr>
            <tr>
                <td><input type = "radio" class="rb" name = {{i.id}} id="Option111" value="{{i.Option111}}">{{i.Option111}}</td>
            </tr>
            <tr>
                <td><input type = "radio" class="rb" name = {{i.id}} id="Option222" value="{{i.Option222}}">{{i.Option222}}</td>
            </tr>
            <tr>
                <td><input type = "radio" class="rb" name = {{i.id}} id="Option333" value="{{i.Option333}}">{{i.Option333}}</td>
            </tr>
            <tr>
                <td><input type = "radio" class="rb" name = {{i.id}} id="Option444" value="{{i.Option444}}">{{i.Option444}}</td>
            </tr>

            <tr>
                <td><label id="corans" class= "rb" style="display:none ; color : green"><b>{{i.Corrans2}}</b></label></td>
            </tr>

        </table>
<hr>

        {% endfor %}
        <input type="submit" class="btn btn-success" value="Submit" id="b1" onclick="getanswers()">
        <br><br>
        <b id="UserAnswers"></b>
        </div>
</div>
</body>
</html>

{% endblock %}